{% load static %}
{% load counter_tag %}
{% block body %}

<nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li><b class="nav-link">Welcome {{user.username}}<span class="sr-only">(current)</span></b></li>
               <li class="nav-item active">
               <a class="nav-link" href="{% url 'logout' %}">Log Out <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'register' %}">register <span class="sr-only">(current)</span></a>
            </li>
         <li class="nav-item active">
                          <form class="inline" action="{% url 'login' %}" method="POST">
                      {% csrf_token %}
                      <input type="text" placeholder="Username" name="username"  style="outline: none;height:30px;width:130px;text-align:center;border-radius: 2px;box-shadow: none;border: solid 1px #c2c1c1;font-size: .7775rem;" required>
                      <input type="password" placeholder="Password" name="password1" style="outline: none;height:30px;width:130px;text-align:center;box-shadow: none; border-radius: 2px;border: solid 1px #c2c1c1;font-size: .7775rem;" required>
                      <button style="height:30px;box-shadow: none; border-radius: 2px;color:White;border: solid 1px #c2c1c1;font-size: .7775rem;transition: all .2s ease-in;background-color: #4a90e2!important;    text-shadow: none;
                         border: none;width:70px;margin-top: 10px;text-align:center;" type="submit">Login</button>
                     <div><a style="font-size: .7775rem; margin-left:200px;margin-top:-309px;color:white;" href="{% url 'Reset_pass_Request_email' %}" tabindex="4">change/Forgot Password</a>

                 </form>

              </li>
          {% endif %}
      </ul>
        <nav>
  <ul class="menu">
    <li style=" width:90px; height:40px;float:left;inline:block;">Category
        {% for cat in categories %}
            <ul class="sub-menu">
              <li {% if category.slug == cat.slug %}  {% endif %} >
                  <a style="text-decoration: none; color:white;" href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
            </ul>{% endfor %}
    </li>
    <li style=" width:90px; height:40px;float:left;inline:block;">Brands
      <ul class="sub-menu">
        <li>Lakme</li>
        <li>loreal</li>
        <li>Huda Beauty</li>
        <li>M.A.C</li>
        <li>Compare</li>
      </ul>
    </li>
</nav>
{% if user.is_authenticated %}
	     	<a href="{% url 'cart:order_details' %}">
	    		<img  id="cart-count" class="fa fa-shopping-cart">
	    	</a>
	    	<p id="cart-total"> {{ request.user| count_item }} </p>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" method="POST" action="/search">
            {% csrf_token %}
            <input class="form-control mr-sm-2" id="search" type="search"  style="" name='query' placeholder="Search product..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i>Search</button>
        </form>
    </div>
</nav>
<br>
{% endblock body %}